body {
    
    font-family: 'Rubik', sans-serif;
    line-height: 24px;
    margin: 0;
    
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: #342B2B;   
    margin: 0 0 60px;
}

.container {
    width: 1140px;
    margin: auto;    
}

.d-flex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-sb {
    justify-content: space-between;
}

.gap {
    gap: 0 40px;
}

.margin-top {
    margin-top: 40px;
}
header {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.main-menu {
    height: 80px;
    background: #FFFFFF;
    
    
}

.main-menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 650px;
    margin-right: 70px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.main-banner {
    background-color: #EEF1F2;
    height: 663px;
}

.main-banner-up {
    padding-top: 100px;
    margin-bottom: 44px;
}

.main-banner-text-l {
    margin: 0;
    height: 243px; 
    width: 565px;
}

.main-banner-text-m {
    width: 897px;
    margin-bottom: 44px;
}


a {
    text-decoration: none;
}

.upper-btn {
    align-items: center;
}

.white-btn {
    box-sizing: border-box;    
    width: 150px;
    height: 36px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    color: #1E3DAF;
    border: 1px solid #1E3DAF;
    border-radius: 4px;
}

.blue-btn {
    width: 86px;
    height: 36px;
    background: #1E3DAF;
    border-radius: 4px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-left: 6px;
}

.appoint-btn {
    height: 48px;
    width: 247px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: #1E3DAF;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-left: 6px;
}

.bold-txt {
    font-weight: bold;
}

.txt-s18-h24 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #342B2B;
}

.txt-s14-h20  {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #342B2B;
    
}

hr {
    height: 4px;    
    background-color: #1E3DAF;
    width: 101px;
    margin: 0;
    
}


.about-l {
    width: 666px;
}

.requirements-blocks {
    width: 565px;
    height: 398px;
    box-shadow: 0px 32px 42px rgba(30, 61, 175, 0.04);
    padding-left: 40px;
    border-top: 18px solid #EEF1F2 ;
    margin-top: 150px;
    margin-bottom: 90px;
    
}

.requirements-list {
    list-style-image: url('img/Rectangle.png');
    line-height: 3;
}

.circles {
    position: absolute;
    margin: -13px;
}

.experts-img-blocks {
    border-bottom: 1px solid rgba(52, 43, 43, .2);
    padding-bottom: 154px;
   
}

.carrier-img-block {
    margin: 40px 0 150px 0;
}

.program {
    background: #EEF1F2;
    height: 910px;
}

.program-blocks {
    background: #FFFFFF;
    width: 867px;
    margin-bottom: 12px;
    border-radius: 4px;  

}

.program-txt {
    margin-left: 24px;
}

.program-img {
    width: 500px;
   
}

.appoint-cource-block {
    width: 1140px;
    background-color: aqua;
    justify-content: space-around;
}

footer {
    background: #2A2F37;
    color: #FFFFFF;
}


.footer-menu-list {
    list-style: none;
    font-weight: 400;
    
}

.footer-down-menu-list {
    list-style: none;
}